*  {
    --color-primary-50: 132 204 22;
    --color-primary-100: 132 204 122;
}

.text-primary-500 {
    --tw-text-opacity: 1;
    color:#ffffff;
}

.px-4 {
    padding-left: 0px;
    padding-right: 0px;
}

.noheader thead{
    display: none;
}